/* google fonts work sans */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
.btn-primary{
    width: 180px;
    height: 64px;
    color: #FFF;

    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FF900E;
    border: 0;
}

/* header style*/
.navbar ul a{
    
    text-decoration: none;
    color: #424242;

}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    justify-content: center;
    
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.title{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto
    ;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:#131313;
    padding-top: 30px;
}
.banner-description{
    color: #727272;
    padding-top: 30px;
    padding-bottom: 30px;
}
.banner img{
    width: 100%;
    margin-top: 30px;
}



/* main styles */

.main{
    max-width: 1200px;
    margin: 70px auto;
}

/* teams style */
.teams-container{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}

.teams-content{
    padding: 10px 70px;
}

.teams-content h3,
p{
    padding-bottom: 30px;
}


/*feature section style */

.feature-container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.feature-content{
    width: 586px;
}
.white-div{
    width: 514px;
    border-radius: 8px;
background: #FFF;

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding-top: 20px;
 margin-bottom: 30px;
}
.white-div h6{
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
.white-div p{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.image-div{
    height: 90%;
}

/* facts section style */
.card-container{
    display: flex;
    justify-content: space-around;
}

.fact-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px 70px;
}
.fact-title{
    padding-top: 30px;
    margin-bottom: 30px;
}
.card-description{
    margin-top: 10px;
}
.card-title{
    margin-top: 10px;
    margin-bottom: 30px;
}

/*sponsor section style */
.img-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.sponsor-content{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.sponsor-content h2{
    padding-bottom: 30px;
}


@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .card-container{
        flex-direction: column;
    }
    .fact-card{
        padding: 10px 15px;
    }
    .teams-container, .img-cards{
        flex-direction: column;
    }
    .img-cards img{
        
        width: 80px;
        height: 30px;
        
    }
    .img-cards{
        align-items: center;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding:50px
    }
    .navbar{
        flex-direction: column;
    }
    .card-container{
        flex-direction: column;
    }
    .fact-card{
        padding: 10px 15px;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .img-cards img{
        
        width: 80px;
        height: 30px;
        
    }
    .img-cards{
        flex-direction: column;
        align-items: center;
    }

}